/* COLORS
.................................................*/

@color-black: #222;
@color-white: #ffffff;
@color-error: #f20000;
@color-navy: #1d2a53;

// grays
@color-gray-light: #f1f1f1;
@color-gray-mid: #777777;
@color-gray-dark: #444444;

// pastels
@color-pastel-green: #00cb8a; //#71CC9C;
@color-pastel-red: #da5555;
@color-pastel-orange: #eea76e;
@color-pastel-gray: #87888f;
@color-pastel-blue: #3194cd;