/* COLORS
.................................................*/
@colors-arishill: '#bcbcbc', '#5e5e5e', '#222222';

// whites
@color-white: #ffffff;
@color-white-dark: #f1f1f1;

// grays
@color-gray-xlight: #ededed;
@color-gray-light: #dbdbdb;
@color-gray: #b2b2b2;
@color-gray-transparent: rgba(178, 178, 178, .57);
@color-gray-dark: #919191;

// blacks
@color-black-light: #555;
@color-black: #333;
@color-black-dark: #000;

// greens
@color-green-light: #cdf2e3; //#56f4b8;
@color-green: #23cc8f;
@color-green-dark: #0ba067;

// reds
@color-red-light: #ef6767;
@color-red: #da5555;
@color-red-dark: #bc3535;

// yellows
@color-yellow: #ffc639;

.site-colors(@site-colors) {
  @color-site-light: ~`function() { return @{site-colors}[0];}()`;
  @color-site: ~`function() { return @{site-colors}[1];}()`;
  @color-site-dark: ~`function() { return @{site-colors}[2];}()`;
}

// set site color set
.site-colors(@colors-arishill);