/* COLORS
.................................................*/

@color-black: #222;
@color-white: #ffffff;
;
@color-navy: #1d2a53;

// grays
@color-gray-light: #f1f1f1;
@color-gray-mid: #777777;
@color-gray-dark: #444444;

// pastels
@color-pastel-green: #71CC9C;
@color-pastel-red: #da5555;
@color-pastel-orange: #eea76e;
@color-pastel-gray: #bbc0bd;