/*.....................................
  SPACING
.....................................*/
@space_sizes: 5px, 10px, 20px, 30px, 40px, 50px, 100px;

.spacer(@size, @type, @index) {
  .@{type}-@{size} {
    @{type}: extract(@space_sizes, @index);
  }
  .@{type}-vert-@{size} {
    @{type}-top: extract(@space_sizes, @index);
    @{type}-bottom: extract(@space_sizes, @index);
  }
  .@{type}-horz-@{size} {
    @{type}-left: extract(@space_sizes, @index);
    @{type}-right: extract(@space_sizes, @index);
  }
  .@{type}-left-@{size} {
    @{type}-left: extract(@space_sizes, @index);
  }
  .@{type}-top-@{size} {
    @{type}-top: extract(@space_sizes, @index);
  }
  .@{type}-right-@{size} {
    @{type}-right: extract(@space_sizes, @index);
  }
  .@{type}-bottom-@{size} {
    @{type}-bottom: extract(@space_sizes, @index);
  }
}

.spacer(xsmall, padding, 1);
.spacer(small, padding, 2);
.spacer(medium, padding, 3);
.spacer(xmedium, padding, 4);
.spacer(large, padding, 5);
.spacer(xlarge, padding, 6);
.spacer(xxlarge, padding, 7);

.spacer(xsmall, margin, 1);
.spacer(small, margin, 2);
.spacer(medium, margin, 3);
.spacer(xmedium, margin, 4);
.spacer(large, margin, 5);
.spacer(xlarge, margin, 6);
.spacer(xxlarge, margin, 7);

.margin-top-reset {
  margin-top: 0px !important;
}
.margin-bottom-reset {
  margin-bottom: 0px !important;
}
.margin-left-reset {
  margin-left: 0px !important;
}
.margin-right-reset {
  margin-right: 0px !important;
}