@import (reference) "base/include";

/*.....................................
  ARROWS
.....................................*/
.box-shadow {
  box-shadow: -1px 1px 1px @color-gray;
}
.arrow {
  position: relative;
  box-sizing: border-box;

  background: @color-white;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;

    border: 8px solid black;

    transform-origin: 0 0;
    transform: rotate(-45deg);
  }

  &.border-gray-light {
    &::after {
      box-shadow: -1px 1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: -1px 1px 1px @color-gray-transparent;
    }
  }
}
.arrow-bottom-left {
  .arrow;
  &::after {
    margin-left: -8px;
    border-color: transparent transparent @color-white @color-white;
    bottom: -16px;
    left: 30px;
  }
}
.arrow-bottom-middle {
  .arrow;
  &::after {
    margin-left: -8px;
    border-color: transparent transparent @color-white @color-white;
    bottom: -16px;
    left: 50%;
  }
}

.arrow-bottom-right {
  .arrow;
  &::after {
    margin-left: -8px;
    border-color: transparent transparent @color-white @color-white;
    bottom: -16px;
    right: 30px;
  }
}
.arrow-left-middle {
  .arrow;
  &::after {
    border-color: @color-white transparent transparent @color-white;
    top: 50%;
    left: -11px;
  }
  &.border-gray-light {
    &::after {
      box-shadow: -1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: -1px -1px 1px @color-gray-transparent;
    }
  }
}

.arrow-left-bottom {
  .arrow;
  &::after {
    // box-shadow: -1px -1px 0px 0 @color-gray-transparent;
    border-color: @color-white transparent transparent @color-white;
    top: 30px;
    left: -11px;
  }
  &.border-gray-light {
    &::after {
      box-shadow: -1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: -1px -1px 1px @color-gray-transparent;
    }
  }
}

.arrow-left-top {
  .arrow;
  &::after {
    border-color: @color-white transparent transparent @color-white;
    top: 30px;
    left: -11px;
  }
  &.border-gray-light {
    &::after {
      box-shadow: -1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: -1px -1px 1px @color-gray-transparent;
    }
  }
}

.arrow-right-middle {
  .arrow;
  &::after {
    border-color: transparent @color-white @color-white transparent;
    top: 50%;
    right: -4px;
  }
  &.border-gray-light {
    &::after {
      box-shadow: -1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: 1px 1px 0px @color-gray-transparent;
    }
  }
}

.arrow-top-left {
  .arrow;
  &::after {
    margin-left: -8px;
    top: 0px;
    left: 30px;
    border-color: #fff #fff transparent transparent;
  }
  &.border-gray-light {
    &::after {
      box-shadow: 1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: 1px -1px 1px @color-gray-transparent;
    }
  }
}
.arrow-top-right {
  .arrow;
  &::after {
    margin-left: -8px;
    top: 1px;
    right: 20px;
    border-color: #fff #fff transparent transparent;
  }
  &.border-gray-light {
    &::after {
      box-shadow: 1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: 1px -1px 1px @color-gray-transparent;
    }
  }
}
.arrow-top-middle {
  .arrow;
  &::after {
    margin-left: -8px;
    top: 0px;
    left: 50%;
    border-color: #fff #fff transparent transparent;
  }
  &.border-gray-light {
    &::after {
      box-shadow: 1px -1px 0px 0 @color-gray-transparent;
    }
  }
  &.box-shadow {
    &::after {
      box-shadow: 1px -1px 1px @color-gray-transparent;
    }
  }
}