@import (reference) "base/include";

/*.....................................
  BACKGROUNDS
.....................................*/

.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-site {
  background-color: @color-site;
}
.bg-green {
  background-color: @color-green;
}
.bg-green-dark {
  background-color: @color-green-dark;
}
.bg-gray-xlight {
  background-color: @color-gray-xlight;
}
.bg-gray-light {
  background-color: @color-gray-light;
}
.bg-gray {
  background-color: @color-gray;
}
.bg-gray-dark {
  background-color: @color-gray-dark;
}

.bg-cover {
  background-position: 50% 50%;
  .background-size(cover);
}
