@import "base/include";

/*.....................................
  ICONS
.....................................*/

.icon-center(@icon-size) {
  background-size: @icon-size @icon-size;
  height: @icon-size;
  line-height: @icon-size;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  background-position: center center;
}
.icon-right(@icon-size) {
  background-size: @icon-size @icon-size;
  height: @icon-size;
  line-height: @icon-size;
  padding-left: 0;
  padding-right: @icon-size + 5px;
  background-position: center right;
}
.icon-left(@icon-size) {
  background-size: @icon-size @icon-size;
  height: @icon-size;
  line-height: @icon-size;
  padding-right: 0;
  padding-left: @icon-size + 5px;
  background-position: center left;
}

.icons(@icon-size) {
  .icon-left-@{icon-size} {
    .icon-left(@icon-size);
  }
  .icon-right-@{icon-size} {
    .icon-right(@icon-size);
  }
  .icon-center-@{icon-size} {
    .icon-center(@icon-size);
  }
  .icon-@{icon-size} {
    display: inline-block;
    background-position: 50% 50%;
    background-size: contain;
    text-indent: -9999px;
    width: @icon-size;
    height: @icon-size;
  }

  .icon-dot-@{icon-size} {
    width: @icon-size/2;
    height: @icon-size/2;
    .border-radius(@icon-size/2);

    &.primary {
      background: #fff;
    }
    &.secondary {
      background: #fff;
    }
    &.tertiary {
      background: #fff;
    }
    &.success {
      background: #fff;
    }
    &.error {
      background: #fff;
    }
  }
}

.icons(@icon-xsmall);
.icons(@icon-small);
.icons(@icon-medium);
.icons(@icon-xmedium);
.icons(@icon-large);
.icons(@icon-xlarge);


// //   .icon-radius {
// //     .icon {
// //       position: absolute;
// //       top: 50%;
// //       left: 50%;
// //       margin-left: -11.5px;
// //       margin-top: -11.5px;
// //       &.small {
// //         margin-left: -7.5px;
// //         margin-top: -7.5px;
// //       }
// //       &.medium {
// //         margin-left: -17.5px;
// //         margin-top: -17.5px;
// //       }
// //       &.large {
// //         margin-left: -22.5px;
// //         margin-top: -22.5px;
// //       }
// //     }
// //     &.small {
// //       padding: 5px;
// //       width: rem-calc(40);
// //       height: rem-calc(40);
// //       @include border-radius(20px);
// //     }
// //     &.medium {
// //       padding: 10px;
// //       @include border-radius(35px);
// //     }
// //     &.large {
// //       padding: 15px;
// //       @include border-radius(45px);
// //     }
// //   }
// //   &.radius-alt {
// //     border: 2px solid #22b8af;
// //   }
// //   &.radius-gray {
// //     border: 2px solid $grey-mid;
// //   }
// //   &.radius-mono {
// //     border: 2px solid #375667;
// //   }
// //   &.radius-inverse {
// //     border: 2px solid #ffffff;
// //   }
// //   &.radius-light {
// //     border: 2px solid #BFBFBF;
// //   }
// //   &.radius-dark {
// //     border: 2px solid #111111;
// //   }
// // }