@import (reference) "base/include";

/*.....................................
  SYMBOLS
.....................................*/

[class^="symbol-"] {
  background-size: contain;
  background-position: center center;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  .box-sizing(border-box);
}

/* alignment
......................................*/
[class^="symbol-logo-"] {
  width: 105px;
  height: 35px;
}