@import (reference) "base/include";

/*.....................................
  TYPOGRAPHY
.....................................*/

// alignment
.text-top {
  vertical-align: top;
}
.text-middle {
  vertical-align: middle;
}
.text-bottom {
  vertical-align: bottom;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
  justify-content: center;
}
.text-right {
  text-align: right;
}

.word-break {
  word-break: break-word;
}

.text {
  color: @color-gray;
  font-family: @font-calluna;
  font-size: 14px;
  line-height: 18px;
}

// colors
.text-black {
  .text;
  color: @color-black;
  font-weight: 600;
}
.text-black-light {
  .text;
  color: @color-black-light;
  font-weight: 500;
}
.text-green {
  .text;
  color: @color-green;
}
.text-gray-light {
  .text;
  color: @color-gray-light;
}
.text-gray {
  .text;
  color: @color-gray;
}
.text-gray-dark {
  .text;
  color: @color-gray-dark;
}
.text-white {
  .text;
  color: @color-white;
}
.text-red {
  .text;
  color: @color-red;
}
.text-yellow {
  .text;
  color: @color-yellow;
}

.head {
  font-family: @font-calluna;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.head-site {
  .head;
  color: @color-site;
}
.head-white {
  .head;
  color: @color-white;
}
.head-gray {
  .head;
  color: @color-gray-dark;
}
.head-black {
  .head;
  color: @color-black;
}
.head-green {
  .head;
  color: @color-green;
}
.head-red {
  .head;
  color: @color-red;
}
.head-yellow {
  .head;
  color: @color-yellow;
}

// case
.text--upper {
  text-transform: uppercase;
}
.text--lower {
  text-transform: lowercase;
}

// style
.text--bold {
  font-weight: 800;
}
.text--line {
  text-decoration: line-through;
}
.text--italic {
  font-style: italic;
}

// size
.text--xsmall {
  font-size: 10px;
  line-height: 14px;
}
.text--small {
  font-size: 12px;
  line-height: 16px;
}
.text--medium {
  font-size: 14px;
  line-height: 18px;
}
.text--xmedium {
  font-size: 18px;
  line-height: 21px;
}
.text--large,
.head--large{
  font-size: 21px;
  line-height: 28px;
}
.text--xlarge,
.head--xlarge {
  font-size: 24px;
  line-height: 20px;
}

// links
.link-black,
.link-black a {
  font-family: @font-calluna;
  .transition(all 300ms ease);
  &:link,
  &:visited {
    color: @color-black;
    text-decoration: none;
    &.icon--left,
    &.icon--right {
      position: relative;
      &:before {
        .transition(background 300ms ease);
        background: rgba(255, 255, 255, 0);
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
      }
    }
  }
  &:hover,
  &:active {
    &.icon--left,
    &.icon--right {
      &:before {
        background: rgba(255, 255, 255, .5);
      }
    }
    color: @color-gray-dark;
    text-decoration: none;
  }
}
.link-site,
.link-site a {
  font-family: @font-calluna;
  &:link,
  &:visited {
    color: @color-site;
    text-decoration: none;
    &.icon--left,
    &.icon--right {
      position: relative;
      &:before {
        .transition(background 300ms ease);
        background: rgba(255, 255, 255, 0);
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 100%;
      }
    }
  }
  &:hover,
  &:active {
    &.icon--left,
    &.icon--right {
      &:before {
        background: rgba(255, 255, 255, .5);
      }
    }
    color: @color-site-light;
    text-decoration: none;
  }
}
.link-green,
.link-green a {
  font-family: @font-calluna;
  &:link,
  &:visited {
    color: @color-green;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: @color-green;
    text-decoration: none;
  }
}
.link-gray,
.link-gray a {
  font-family: @font-calluna;
  &:link,
  &:visited {
    color: @color-gray;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: @color-gray;
    text-decoration: none;
  }
}
.link-gray-dark,
.link-gray-dark a {
  font-family: @font-calluna;
  font-weight: 600;
  &:link,
  &:visited {
    color: @color-gray-dark;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: @color-black;
    text-decoration: none;
  }
}
.link-red,
.link-red a {
  font-family: @font-calluna;
  &:link,
  &:visited {
    color: #e74545;
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: none;
    color: #f16666;
  }
}

// truncate
.truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

  &.xlarge {
    max-width: 90%;
  }
  &.large {
    max-width: 75%;
  }
  &.medium {
    max-width: 60%;
  }
  &.small {
    max-width: 40%;
  }
}