<head>
  <title>Aristotle</title>
</head>

<body>
</body>

<template name="app_layout">

{{> aristotle__nav__primary}}
{{> aristotle__nav__secondary}}

  <section class="stage {{#if page.drawer}}has-drawer{{/if}}">
    <div class="contain">
      {{> yield}}
    </div>

    {{#if page.drawer}}
      <aside class="drawer">
        <div class="padding-medium">
          <div class="row">
            <div class="col small-1-2 text-left">
              <h4 class="head-gray icon-help-black icon--left">Help</h4>
            </div>
            <div class="col small-1-2 text-right">
              <a href="#" class="icon-x-black icon--small icon--center">Close</a>
            </div>
          </div>
        </div>
      </aside>
    {{/if}}
  </section>

  <!-- {{ > aristotle__transaction__form}} -->
</template>

<template name="loading">
  <div class="contain fill-width fill-height" style="position: fixed; z-index: -1;">
    <div class="ui-loader"></div>
  </div>
</template>